server:
  port: 8080
  servlet:
    context-path: /identity
spring:
  datasource:
    url: "jdbc:mysql://localhost:3306/identity_service"
    username: root
    password: PcyTt11@
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
jwt:
  signerKey: "BoiHyBpC8Yc8iNdgbhCDrtm1gMEZ3mGJYoUBxVm6t7MKjS6EXQvIPeqf2Rkczb8n"

app:
  services:
    profile: http://localhost:8081/profile
